html, body {
    height: 100%;
    overflow: hidden;
}

body {
    /*background: linear-gradient(-45deg, #0044ce, #6e6b67);*/
    background: rgb(0, 3, 17);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*.zip-bg {
    background: url("../img/cool_boston.jpg");
    background: rgba(25,9,34,0.99);
    background-repeat: no-repeat;
    height: inherit;
    background-size: cover;
}*/

.zip-night {
    background: url("../img/Boston_night.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.zip-day {
    background: url("../img/boston_day.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.zip-map-header{
    color: rgb(252 188 52);
    font-family: "Courier";
    font-size: 40px;
    text-shadow: #feff00;
    font-weight: bolder;
}

.zip-height {
    height: inherit;
    width: inherit;
    z-index: 5;
}

.zip-tooltip {
    z-index: 100;
}

.zip-tooltip-text{
    background-color: #ffe500;
    opacity: .9;
    padding: 5px;
    border-radius: 20px;
}



.zip-card-night {
    background-image: linear-gradient(to left, #0f0d58, #001b25);
}

.zip-card-day {
    background-image: linear-gradient(to right, #fffd8c, #feff00);
    opacity: .1;
}

.zip-img {
    height: 80px;
    width: 90px;
}

.zip-header {
    font-family: "Arial Unicode MS";
    font-weight: 900;
    color: #2a1fe2;
}

.zip-detail-title-day{
    position: relative;
    font-family: "Arial Rounded MT Bold";
    font-weight: bolder;
    right : 39px;
    color: #0f0d58;
}

.zip-detail-title-night{
    position: relative;
    font-family: "Arial";
    font-weight: bolder;
    right : 39px;
    color: #ffe500;
}

.zip-weather-day{
    font-family: "Arial Unicode MS";
    font-weight: bolder;
    font-size: medium;
    color: #0f0d58;
}

.zip-weather-night{
    font-family: "Arial Unicode MS";
    font-weight: bolder;
    font-size: medium;
    color: #ffe500;
}

.zip-day-color {
    font-family: "Arial Rounded MT Bold";
    color: #0038ff;
}

.zip-night-color{
    font-family: "Arial Rounded MT Bold";
    color: #d7ff31;
}

.zip-temp-day {
    font-family: "Arial Rounded MT Bold";
    font-weight: bolder;
    font-size: 25px;
    padding-right: 0px;
    color: black;
}

.zip-temp-night {
    font-family: "Arial Rounded MT Bold";
    font-weight: bolder;
    font-size: 25px;
    padding-right: 0px;
    color: white;
}

.zip-temp-high{
    font-family: "Arial Rounded MT Bold";
    font-weight: bolder;
    font-size: medium;
}

.zip-temp-low {
    font-family: "Arial Rounded MT Bold";
    font-weight: bolder;
    font-size: medium;
}

.zip-weather-card{
    display: flex;
    position : relative;
    right: 30px;
}

.card {
    min-width: 400px;
    max-width: 400px;
    border-radius: 13px;
    opacity: 0.9;
}

.card-header {
    border-radius: 0px;
}

.zip-legend{
    position:relative;
    top: 50px;
    right : 180px
}

.map-container{
    padding-left: 200px;
}

.zip-weather-font{
    font-family: "Arial Rounded MT Bold";
    color: #041fff;
}

.zip-back-btn-pos{
    position: relative;
    top: 35%;

}

.zip-back-btn-col{
    color: #ffb300;
}

.zip-legend-text{
    margin-bottom: 0px;
    padding-left: 30px;
}
.zip-col-1{
    min-width : 300px
}

td.col1 {
    min-width: 178px;
}

.zip-legend-horizontal{
    position: relative;
    bottom: 200px;
}

.zip-leg-v{
    position: relative;
    top: 7%;
}

@media (max-width: 787px) {
    .zip-legend-vertical {
        display: none;
    }
    .zip-placeholder {
        display: none;
    }
    /*.zip-height{
        height: 94%
    }*/
}

@media (min-width: 787px) {
    .zip-legend-horizontal {
        display: none;
    }
}

.vx-legend-label{
    color: white;
}
